@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="https://github.com/SlayerZed/COMP4952-Lab1" target="_blank">Kaiser</a>.</h3>
    <p><a href="/Zodiac">Get to know your Zodiac Sign by clicking here</a></p>
</div>
